<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link th:rel="stylesheet" th:href="@{/css/jquery.treetable.css}"/>
        <link th:rel="stylesheet" th:href="@{/css/jquery.treetable.theme.default.css}"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">



    <!--th:object="${searchContext}"
     th:field="*{searchTxt}"-->
            <form action="#" th:action="@{/search}"  method="POST">

                <div class="input-group mb-3">
                    <input id="search-txt" type="text" class="form-control" name="searchTxt"  placeholder="Searched text based on Country and City..." aria-label="Searched text based on Country and City..." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" >Search</button>
                    </div>
                </div>

            </form>

        <div class="row">
            <button style="margin: 0.25em;" type="button" id="add-new-note" class="btn btn-info float-right" onclick="showNoteModal()">
                + Add a New record
            </button>
        </div>

        <div class="row">
            <div class="col-md-3">

                <div class="row">
                    <table id="treeTable" class="table">
                        <thead>
                        <tr>
                            <th class="col-md-3">Country Name</th>
                        </tr>
                        </thead>
                    </table>
                </div>


            </div>
            <div class="col-md-9">

                                <div class="table-responsive">

                                    <div id="error-note-msg" th:if="${noteMsgShowOrNotShow}" th:class="${classnotemessage}" class="alert alert-danger" >
                                        <span id="note-Nav-Message" th:text="${noteNavErrorMeesage}"></span>
                                    </div>

                                    <table class="table table-striped" id="userTable">
                                        <thead>
                                            <tr>
                                                <th class="col-md-1" scope="col">Country</th>
                                                <th class="col-md-1" scope="col">Base</th>
                                                <th class="col-md-1" scope="col">Lati</th>
                                                <th class="col-md-1" scope="col">Longi</th>
                                                <th class="col-md-1" scope="col">#Bases</th>
                                                <th class="col-md-1" scope="col">Lily Pads</th>
                                                <th class="col-md-1" scope="col">US funded</th>
                                                <th class="col-md-1" scope="col">Source</th>
                                                <th class="col-md-1" scope="col">Note</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="data : ${datalist}">
                                                <td class="col-md-1" id="country-record"  th:text="${data.countryName}">Example Country</td>
                                                <td class="col-md-1" id="base-name-record" th:text="${data.baseName}">Example Base name</td>
                                                <td class="col-md-1" id="latitude-record"  th:text="${data.latitude}">Example Latitude</td>
                                                <td class="col-md-1" id="longitude-record" th:text="${data.longitude}">Example Longitude</td>
                                                <td class="col-md-1" id="base-number-record"  th:text="${data.baseNumber}">Example Base number</td>
                                                <td class="col-md-1" id="lily-record" th:text="${data.lilyPadsNumber}">Example Lily Pads</td>
                                                <td class="col-md-1" id="usfu-record"  th:text="${data.usFundedNumber}">Example US funded</td>
                                                <td class="col-md-1" id="source-record" th:text="${data.sources}">Example Source</td>
                                                <td class="col-md-1" id="note-record" th:text="${data.note}">Example Note</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


            </div>


            <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="noteModalLabel">New Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/insert}"   method="POST">
                                <input type="hidden" name="noteId" id="note-id">
                                <div class="form-group">
                                    <label for="country-name" class="col-form-label">Country Name</label>
                                    <input type="text" name="countryName"  class="form-control" id="country-name" maxlength="200" required >
                                </div>
                                <div class="form-group">
                                    <label for="base-name" class="col-form-label">Base Name</label>
                                    <input type="text" name="baseName"  class="form-control" id="base-name" maxlength="200" required >
                                </div>
                                <div class="form-group">
                                    <label for="latitude-data" class="col-form-label">Latitude</label>
                                    <input type="text" name="latitude"  class="form-control" id="latitude-data" maxlength="20" required >
                                </div>
                                <div class="form-group">
                                    <label for="longitude-data" class="col-form-label">Longitude</label>
                                    <input type="text" name="longitude"  class="form-control" id="longitude-data" maxlength="20" required >
                                </div>
                                <div class="form-group">
                                    <label for="base-number" class="col-form-label">Base Number</label>
                                    <input type="text" name="baseNumber"  class="form-control" id="base-number" maxlength="5"  >
                                </div>
                                <div class="form-group">
                                    <label for="lily-pads-number" class="col-form-label">lily Pads Number</label>
                                    <input type="text" name="lilyPadsNumber"  class="form-control" id="lily-pads-number" maxlength="5"  >
                                </div>
                                <div class="form-group">
                                    <label for="us-funded-number" class="col-form-label">US Funded Number</label>
                                    <input type="text" name="usFundedNumber"  class="form-control" id="us-funded-number" maxlength="5" >
                                </div>
                                <div class="form-group">
                                    <label for="note-data" class="col-form-label">Note</label>
                                    <input type="text" name="note"  class="form-control" id="note-data" maxlength="200"  >
                                </div>
                                <div class="form-group">
                                    <label for="sources-data" class="col-form-label">Sources</label>
                                    <input type="text" name="sources"  class="form-control" id="sources-data" maxlength="200" >
                                </div>
                                <input type="hidden" id="dataInsOrUpd"/>
                                <button id="noteSubmit" type="submit" class="d-none"></button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="noteSubmit-javascript"  onclick="$('#noteSubmit').click();">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/jqueryTreetable.js}"></script>
<!--            <script th:src="@{/js/jquery-slim.min.js}"></script>-->

            <script type="text/javascript">
                $(document).ready(function () {
                    $.ajax({
                        "type": 'get',
                        "url": '/nodes',
                        "dataType": "json",
                        "success": function (data) {
                            $.each(data, function (idx, obj) {
                                $("#treeTable").append("<tr data-tt-id=\"" + obj.nodeId + "\" data-tt-parent-id=\"" + obj.pid + "\"><td>" + obj.text + "</td></tr>");
                            });
                            $("#treeTable").treetable({
                                expandable: true,
                                initialState: "collapsed",
                                clickableNodeNames: true,
                                indent: 30
                            });
                        }
                    });
                });
            </script>
    <!--For opening the note modal-->
    <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#dataInsOrUpd').val('0');
                $('#noteModal').modal('show');
            }



            function myNotefunction(e) {
               //showNoteModal($('#nid').value(),$('#ntitle').value(),$('#ndescription').value()) ;
                $('#note-id').val(e.getAttribute("data-id"));
                $('#note-title').val(e.getAttribute("data-title"));
                $('#note-description').val(e.getAttribute("data-notedescription"));
                $('#dataInsOrUpd').val(e.getAttribute("data-id"));
                $('#noteModal').modal('show');
            }


        </script>
    </body>
</html>